attrs
Scrapy
scrapy-zyte-api[provider]
shub
zyte-spider-templates

# https://raw.githubusercontent.com/scrapinghub/scrapinghub-stack-scrapy/refs/heads/branch-2.11/requirements.in
# To allow pip-compile to generate a complete, valid dependency tree:

Scrapy==2.11.2

# scrapinghub glue
scrapinghub-entrypoint-scrapy==0.17.4

# official python client
scrapinghub>=2.4.0

# scrapy plugins
scrapy-splash
scrapy-crawlera # legacy: the same as scrapy-zyte-smartproxy
scrapy-zyte-smartproxy>=2.2.0
scrapy-deltafetch
scrapy-dotpersistence
scrapy-magicfields
scrapy-pagestorage>=0.4.0
scrapy-querycleaner
scrapy-splitvariants

# required by Monitoring addon
spidermon[monitoring]
# required by Monkeylearn addon
monkeylearn
# required by Images addon
boto
# pre-install boto3 compatible with botocore
boto3

# address known vulnerabilities
aiohttp>=3.7.4      # CVE-2021-21330
awscli>=1.19.0      # fix pyyaml dependency
Jinja2>=2.11.3      # CVE-2020-28493
lxml>=4.6.3         # CVE-2021-28957
pillow>=8.1.2       # GHSA-jgpv-4h4c-xhw3
pyyaml>=5.4         # CVE-2020-14343
requests>=2.20.0    # CVE-2018-18074
Twisted[http2]>=23.8.0  # CVE-2019-12387
urllib3>=1.26.4     # CVE-2021-28363
